@use "./variables" as *;

section.features {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	ul {
		margin: 2em auto;
		width: 80%;
		li {
			display: flex;
			align-items: center;
		}
	}
}

@media (min-width: 800px) {
	section.features {
		ul {
			width: 50%;
		}
	}
}
