@use "./variables" as *;
@use "./mixins" as *;

header {
	background-image: url(../images/img1.png);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	div {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin: 0 auto;
		width: 100%;
		min-height: 100vh;
		background-color: $shadow-bgc;
		@include headerButton;
	}
}
