@use "./variables" as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	color: #1a1a1a;
	scroll-behavior: smooth;
}
body {
	background: $light-bgc;
	overflow-y: hidden;
	overflow-x: hidden;
	overflow: hidden;
}
section {
	margin: 0 auto;
}
ul {
	list-style: none;
}
main{
	margin: 0 auto;
	max-width: 1600px;
}

@media(min-width:1200px) {
	main{
		width: 80%;
	}
}